.form-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  margin: auto;
  display: grid;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-1);
  border-radius: 1rem;
}

.form input {
  background-color: var(--surface-2);
  padding: 0.5rem;
  border: 1px solid;
  border-color: var(--primary-700);
  border-radius: 0.5rem;
  transition: border-color 0.5s;
}

.form input:hover,
.form input:focus {
  border-color: var(--primary-200);
}

.form input:focus-visible {
  outline: 2px solid var(--primary-200);
}

.auth-form {
  gap: 1rem;
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.chats-panel-form {
  padding: 1rem;
  background-color: var(--surface-5);
}
