.group-data {
  display: grid;
  gap: 1rem;
  background-color: var(--surface-6);
  padding: 1rem;
  border-radius: 1rem;
}

.group-data span {
  font-weight: 600;
}

.invite-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
