.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--surface-1);
}

.header .username-button {
  color: white;
  cursor: default;
  background-color: black;
}

.header.small {
  padding: 0.5rem 2rem;

  h1 {
    font-size: 2rem;
  }

  button {
    padding: 0.2rem 1rem;
  }
}
